.itemList-container {
    margin: 2rem;
}

.itemList-title {
    font-size: xxx-large;
    text-decoration: underline;
    color: rgb(0, 77, 77);
    font-weight: bold;
    margin: 2rem;
}

.itemList-list {
    display: flex;
    flex-flow: column;
    align-items: center;

}